body {
    margin: 0%;
}

#container {
    display: grid;
    gap: 0px;
    max-height: 80vh;
    max-width: 80vh;
    margin: auto;
}

#container div {
    aspect-ratio: 1;
}

.trail {
    background-color: blue;
}

#btn {
    margin-left: 47%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: coral;
    font-size: large;
}
